{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <ul class="nav-links">
            <li><a href="{% url 'agendar' %}">Agendar</a></li>
            <li><a href="{% url 'servicos' %}">Serviços</a></li>
        </ul>
    </nav>

    <header>
        <h1>Bem-vindo ao Mecajato</h1>
    </header>

</body>
</html>
