{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cliente.css/servico.css' %}">
    <title>Serviços</title>
</head>
<body>

    <div class="root-bar">
        <div class="welcome">
            <div>Bem-Vindo, {{ usuario_nome }} !</div>
            <a href="{% url 'logout_user' %}" class="logout-link">Sair agora</a>
        </div>
        <a href="{% url 'agendar' %}" class="agendar-link">Agendar</a>
    </div>

    <div class="main-content">
        <div class="content-container">
            <h1>Serviços</h1>

            <div class="section">
                <h2>Serviços Realizados</h2>
                <ul>
                    {% for agendamento in realizados %}
                        <li>{{ agendamento.cliente.nome }} - {{ agendamento.funcionario.nome }} - {{ agendamento.data_hora }}</li>
                    {% empty %}
                        <li>Não há serviços realizados.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="section">
                <h2>Serviços Futuros</h2>
                <ul>
                    {% for agendamento in futuros %}
                        <li>{{ agendamento.cliente.nome }} - {{ agendamento.funcionario.nome }} - {{ agendamento.data_hora }}</li>
                    {% empty %}
                        <li>Não há serviços futuros agendados.</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <script src="{% static 'cliente.js/clientes.js' %}"></script>
</body>
</html>
